<% layout("./layouts/boilerplate") %>
<script>
  const listing = <%- JSON.stringify(show) %>;
</script>
<body>
    <div class="row ms-1 me-1">
        <div class="col-md-12 col-lg-6 col-sm-12">
            <h3 class="m-2">Listing details:</h3>
    <div class="card ">
        <img src="<%= show.image.url %>" class="card-img-top show-img" alt="...">
        <div class="card-body">
          <p class="card-text">
            <ul class="show-ul">
                 <p>Created by: <%= show.owner.username %></p>
                <b><li><%= show.title %></li></b>
                <li><%= show.description %></li>
                <li>&#8377;<%= show.price.toLocaleString("en-IN") %></li>
                <li><%= show.location %></li>
                <li><%= show.country %></li>
            </ul>
          </p>
        </div>
      </div>
   <div class="buttons mb-4">
    <% if(currUser && currUser._id.equals(show.owner._id)) {%>
  <a href="/wanderlust/<%= show._id %>/edit" class="btn btn-dark btn-edit">edit</a>
    <form method="post" action="/wanderlust/<%= show._id %>/delete?_method=DELETE">
        <button class="btn btn-danger btn-delete">delete</button>
    </form>
 <% } %>
</div>
</div>
<hr>
<div class="row">
<div class="col-md-12 col-lg-6 col-sm-12">
  <h3>Where you'll be</h3>
  <div id="map"></div>
</div>
</div>

<hr>
<div class="row">
  <div class="col-md-10 col-lg-6 col-sm-12">
    
    <% if(currUser) {%>
    <form action="/wanderlust/<%= show._id %>/review" method="POST" novalidate class="needs-validation">
      
      <fieldset class="starability-slot">
        <legend> Rating:</legend><br><br>
        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset><br>
     <textarea name="review[comment]" id="review" class="form-control" rows="5" cols="150" required></textarea>
     <div class="invalid-feedback">Pleace add some commends for review </div>
      <button class="btn btn-ouline btn-dark mt-3 mb-3">Add</button>
    </form>
  <% } %>
  </div>
  
</div>


<% if(show.reviews.length > 0){ %>
  <hr>
  <p><b>All Reviews</b></p>
  <div class="row m-2">
   <% for(let data of show.reviews){ %>
    <div class="card col-md-4 m-1 review">
  <div class="card-body m-1">
    <h5 class="card-title">@<%= data.author.username %></h5>
    <p class="starability-result" data-rating="<%= data.rating %>">
    <p class="card-text" style="font-size: 1rem; margin-bottom: 0;"><%= data.comment %></p>
    <form method="POST" action="/wanderlust/<%= show._id %>/review/<%= data._id %>?_method=DELETE" >
      <% if(currUser && currUser._id.equals(data.author._id)) {%>
    <button class="badge rounded-pill bg-danger mb-2">delete</button>
      <% } %>
  </form>
  </div>
</div>
 <% } %>
</div>
<% }%>


<script src="/javaScript/map.js"></script>
</body>
